In [1]:
import pandas as pd
import os

In [2]:
os.listdir()

['order_reviews.csv',
 'customers.csv',
 'products.csv',
 'orders.csv',
 'product_category_name_translation.csv',
 'Untitled.ipynb',
 'geolocation.csv',
 'order_payments.csv',
 'sellers.csv',
 '.ipynb_checkpoints',
 'order_items.csv']

In [10]:
df = pd.read_csv('sellers.csv')
df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP